@section Styles {
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Bạn không được phép truy cập trang này</h2>

        <p>Vui lòng nhấn nút bên dưới để chuyển hướng về trang chủ.</p>
        <hr />

        <p>
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-success">Trang chủ</a>
        </p>
    </div>
</div>
