@{
    ViewData["Title"] = "Password Reset Successful";
}

<div class="container mt-5">
    <div class="alert alert-success text-center">
        <h4 class="mb-3">Your password has been successfully reset!</h4>
        <a href="@Url.Action("Login", "Account")" class="btn btn-primary">Go to Login</a>
    </div>
</div>
