@{
    ViewData["Title"] = "Đặt lại mật khẩu thành công";
}

@section Styles {
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet" />
}

<div class="container mt-5">
    <div class="alert alert-success text-center">
        <h4 class="mb-3">Mật khẩu của bạn đã được đặt lại thành công!</h4>
        <a href="@Url.Action("Login", "Account")" class="btn btn-primary">Đến trang đăng nhập</a>
    </div>
</div>
