@section Styles {
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Đặt hàng hoàn tất thành công</h2>
        <p>Bạn có thể xem tất cả đơn hàng của mình trong phần Đơn hàng của hồ sơ</p>
        <hr />
        <p>Cảm ơn bạn!</p>

        <a asp-controller="Learner" asp-action="MyPurchasedCourses">
            <i class="bi bi-book"></i> Khóa học đã mua
        </a>
    </div>
</div>
